name: Django Deployment

on:
  push:
    branches:
      - new

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install sshpass
      run: sudo apt-get update && sudo apt-get install -y sshpass

    - name: INSTALL DEPENDENCIES
      run: |
        sudo apt-get update
        sudo apt-get install python3-pip
        pip3 install -r requirements.txt

    - name: Run tests
      run: |
        python manage.py runserver
